@font-face {
    font-family: 'CaviarDreams';
    src: url('../fonts/CaviarDreams.ttf') ;
}

div{
	font-family: CaviarDreams;
	top : 300px;
}

fieldset { 
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 3px groove (internal value);
}

table
{
    border-collapse: collapse;
    margin-left:auto;
    margin-right:auto;
}
td, th /* Mettre une bordure sur les td ET les th */
{
    
    text-align: center;
}

.description{
	text-align: left;
}

.body .img{
	display: block;
	max-height:200px;
	max-width:150px;
    margin-left: auto;
    margin-right: auto;
}