@font-face {
    font-family: 'CaviarDreams';
    src: url('../fonts/CaviarDreams.ttf') ;
}


div{
	font-family: CaviarDreams;
	top : 300px;
}


fieldset { 
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 3px groove (internal value);
}
.Titre{
	
	
	color: rgb(1, 49, 180);
	height: 70px;
	width: 850px;
	background-color: rgb(135,206,250);
	border-radius: 15px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	
}
.conteneur{
	display: flex;
	justify-content: center;
	background-color: rgb(223,242,255);
	width: 850px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 15px;
	margin-bottom: 10px;
	padding: 5px;
	border: 3px solid;
	border-color: rgb(135,206,250);
	
}

table
{
    border-collapse: collapse;
    margin-left:auto;
    margin-right:auto;
}
td, th /* Mettre une bordure sur les td ET les th */
{
    
    text-align: center;
}
.h1{
	font-family: 'CaviarDreams_Bold';
	font-size: 50px;
	text-align: center;
	margin: 0px;
	padding-top: 5px;
	padding-bottom: 5px;

}

.description{
	text-align: left;
}

.body .img{
	display: block;
	max-height:200px;
	max-width:150px;
    margin-left: auto;
    margin-right: auto;
}
button:hover {
	opacity: 0.6;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input {
  
  display: flex; 
}

.quantity{
	font-family: sans-serif;
  	width: 20px;
  	border: solid  rgb(223,242,255);
  	border-width: 0 2px;
  	font-size: 18px;
  	height: 50px;
  	text-align: center;
	background-color:  rgb(223,242,255);
	margin:20px;
	margin-bottom: 0px;
}



.number-input button {
  outline:none;
  -webkit-appearance: none;
  background-color: rgb(135,206,250);
  border: none;
  /*align-items: center;
  justify-content: center;*/
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin: 40px;
  position: relative;
  padding: 10px;
}

.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  width: 10px;
  height: 2px;
  background-color: black; /* couleur caractere +-*/
  transform: translate(-50%, -50%);

}
.number-input button.btnPlus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}
.boutonAjouter{
	background-color: #e7e7e7;
	color: black; 
   	border: 2px solid rgb(55, 38, 110); 
    padding: 6px 15px;
    margin-right: 0px;
    margin-top: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    border-radius: 3px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
     font-family: 'CaviarDreams_Bold',arial;
}

.boutonAjouter:hover{
	background-color: rgb(142, 212, 232); /* Green */
    color: white; 
}

.prixTot{
  font-family: 'CaviarDreams_Bold';
  font-size: 50px;
  text-align: center;
  margin: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #e7e7e7;
  color: black; 
}