@font-face {
    font-family: 'CaviarDreams';
    src: url('../fonts/CaviarDreams.ttf') ;
}

div{
	font-family: CaviarDreams;
	top : 300px;
}
#panier {
   border:1px solid black;
   width:150px;
   height:150px;
}
fieldset { 
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove (internal value);
}