@font-face {
    font-family: 'SoftLine';
    src: url('../fonts/SoftLine.otf') ;
}
@font-face {
    font-family: 'CaviarDreams';
    src: url('../fonts/CaviarDreams.ttf') ;
}
@font-face {
    font-family: 'CaviarDreams_Bold';
    src: url('../fonts/CaviarDreams_Bold.ttf') ;
}
@font-face {
    font-family: 'futur';
    src: url('../fonts/FUTRFW.ttf') ;
}

@font-face {
    font-family: 'lol';
    src: url('../fonts/lol.ttf') ;
}

@font-face {
    font-family: 'julian_thomas';
    src: url('../fonts/julian_thomas.ttf') ;
}