.footer
{
	background-color: #97AAB2;
	width: 100%;
}

.logo_div
{
    text-align: center;
}

.logo_twitter, .logo_youtube, .logo_googlemaps, .logofacebook
{
	margin: 20px;
}

.copyright_footer
{
	font-family: Softline;
	font-weight: bold;
	text-align: center;
}