.footer
{
	background-image: linear-gradient(to bottom, #77c1ba, #69c3c1, #58c5c8, #42c7d1, #1fc8db);
	width: 100%;
	overflow: hidden;
}

.logo_div
{
    display: flex;
    justify-content: center;
}

.logo_div > a
{
	margin: 20px;
}

.copyright_footer
{
	font-family: CaviarDreams;
	font-weight: bold;
	text-align: center;
}

.logo 
{
  height: 70px;
  width: 70px;
  border-radius: 100%;
  color: #fafafa;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  font-family: CaviarDreams_bold;
}

.logo img 
{
  height: 100%;
}

.overlay 
{
  display: flex;
  position: absolute;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  align-items: center;
}

.overlay:hover 
{
  opacity: 1;
}

#overlay-twitter
{
  background-color: #55ACEE;
}

#overlay-facebook
{
  background-color: #3B5998;
  font-size: 83%;
}

#overlay-youtube
{
  background-color: #D42428; 
  font-size: 95%;
}

#overlay-google
{
  background-color: #40A459;
}

.div-liens
{
  display: flex;
  justify-content: center;
  font-family: CaviarDreams_bold;
  margin-bottom: 50px;
}

.liens > a
{
  text-decoration: none;
  margin: 20px;
  color: white;
  font-size: 32px;
}

.liens > a:hover
{
  color: red;
}