.footer
{
	background-color: #97AAB2;
	width: 100%;
	overflow: hidden;
}

.logo_div
{
    text-align: center;
}

.logo_div > a
{
	margin: 20px;
}

.logo_a:hover
{
	background-color: #FCFEFF;
}

.copyright_footer
{
	font-family: CaviarDreams;
	font-weight: bold;
	text-align: center;
}