body
{
  margin: 0;
}

.header
{
	overflow: hidden; /* permet d'élargir la couleur du fond à TOUTE la div */
	background-color: #1fc8db; /* Paramètre pour les navigateurs qui ne prennent pas en charge le dégradé de couleur */
	background-image: linear-gradient(to top, #77c1ba, #69c3c1, #58c5c8, #42c7d1, #1fc8db);
	width: 100%;
	font-family: 'CaviarDreams';	
}

/* placement du containeur logo */
.logo_div
{
	text-align: center;
	margin-top: 10px;
	padding-bottom: 15px; /* espace entre le logo et le menu */
	text-decoration: none;
}

/* taille du logo */
.titre
{
	text-decoration: none;
	color: black;
	font-size: 120px;
  font-family: 'futur'; 
}

.MenuCategory 
{
  width: 100%;
  text-align: center;
  margin-bottom: 15px; /* Décalle de 15px vers le haut les catégories */
}


.SousMenu
{
	color : black;
	text-align: center;
	padding: 12px;
  text-decoration: none; /* retire le sous-lignage */
  font-size: 25px;
  border-radius: 35px;
  font-family: CaviarDreams;
  font-weight: bold;

}

/* Change la couleur quand on passe la souris sur un menu */
.SousMenu:hover 
{
  background-color: #FCFEFF;
  color: black;
}

/* Adapate la taille des icônes du menu */
.icon_menu
{
  width: 20px;
}

/* Met une couleur sur le menu dans lequel on se trouve */
.SousMenu
{
  background-color: white;
  color: #97AAB2;
  margin: 15px;
}

/* Change la couleur du menu déconnexion quand on passe la souris dessus */
#deconnexion:hover
{
  background-color: #af3e4d;
  color: black;
}

/* Change la couleur du menu connexion quand on passe la souris dessus */
#connexion:hover
{
  background-color: #599F38;
  color: white;
}

#menu-en-cours
{
  background-color: black;
  color: #97AAB2;
}

/* paramètre responsive */
@media screen and (max-width: 500px) 
{
  .SousMenu 
  {
    float: none;
    display: block;
  }
}