body, .pub
{
	margin: 0;
}

.promo
{
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.imageEau {

	background: url("../pictures/fond.png") no-repeat center center fixed; 
  	
  	background-size: cover;
	
	
	
	
}



.EauText {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}




