.inscription
{
    width: 50%;
    margin: 0 auto;
}

fieldset
{
    /*background-image: radial-gradient(circle, #afcfff, #97bdff, #82aaff, #7496ff, #6c80ff);*/
    background-color: #DFF2FF;
    border-radius: 15px;
    border: 3px solid;
    margin: 50px;
}

#titre-inscription
{
    margin: 0 auto;
    font-size: 50px;
    font-weight: bold;
    background-color: white;
    border-radius: 50000px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: CaviarDreams_bold;
}

#login
{
    margin-top: 50px;
}

.champ-a-remplir
{
    display: flex;
    margin-bottom: 20px;
    border-radius: 5000px;
    margin-left: 20px;
    margin-right: 20px;
    height: 50px;
}

.div-icone
{
	display: flex;
	width: 10%;
    background-color: #0131B4;
    border-radius: 5000px 0 0 5000px;
    justify-content: center;
}

i > img
{
    width: 30px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.icone
{	
	align-self: center; /* Permet à l'icône de prendre la hauteur de l'input */
}

.input
{
    display: flex;
    width: 100%;
}

.input-champ
{
    width: 100%;
    padding-left: 10px;
    border: none;
    border-radius: 0 5000px 5000px 0;
    font-size: 20px;
}

/* Ajoute une couleur de fond sur l'élément sur lequel je me trouve */
.input-champ:focus
{
    background-color: #EDE3FE;
}

/* Ajoute une bordure si l'élément est remplie */
.input-champ:valid
{
    border: 2px solid;
    border-color: #008a5b;
    opacity: 0.75;
}

#nom-et-prenom, #mdp-et-verif, #mail-et-verif, #div-pays
{
    margin-bottom: 50px;
}

#div-champ-nom, #div-champ-prenom
{
    flex-direction: row;
    flex-wrap: nowrap;
}

#div-nom, 
#div-codepostal
{
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    width: 45%;
}

#div-nom > .div-icone, #div-prenom > .div-icone, 
#div-codepostal > .div-icone, #div-ville > .div-icone
{
    width: 23%;
}

#div-champ-nom > input, #div-champ-prenom
#div-champ-codepostal > input, #div-champ-ville > input
{
    width: 100%;
}

.s-inscrire
{
    text-align: center;
}

.bouton-inscription
{
    background-color: #E7E7E7;
    border: 3px solid;
    border-radius: 12px;
}

.bouton-inscription:hover
{
    background-color: #8ED4E8;
}

#bouton-inscription
{
    display: block; /* Permet de considérer le span comme un bloc et lui appliquer des paramètres de position */
    font-family: CaviarDreams_bold;
    font-size: 35px;
    margin: 5px;
}

.icone-inscription
{
    text-align: center;
    margin-top: 20px;
}

.icone-inscription > img
{
    width: 60px;
}

