.bodyProduct{
	font-family:"CaviarDreams";	
	margin : 0;
}

/* CSS POUR QUANTITE + -*/
button:hover {
	opacity: 0.6;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input {
  border: 2px solid  ;
  display: inline-flex;
}

.number-input,
.number-input * {
  box-sizing: border-box;
  background-color:  rgb(222, 253, 255);
}

.number-input button {
  outline:none;
  -webkit-appearance: none;
  background-color: rgb(135,206,250);
  border: none;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin: 0;
  position: relative;
}

.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  width: 20px;
  height: 2px;
  background-color: black; /* couleur caractere +-*/
  transform: translate(-50%, -50%);
}
.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
  font-family: sans-serif;
  max-width: 5rem;
  padding: .5rem;
  border: solid rgb(135,206,250) ;
  border-width: 0 2px;
  font-size: 30px;
  height: 50px;
  text-align: center;
}
/******************* FIN CSS POUR QUANTITE + -***********************/

.img{
    display: block;
    max-height:500px;
    max-width:400px;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
    transition: .3s ease;
    backface-visibility: hidden;
    background-color: rgb(223,242,255);
}

.bouton{
	background-color: #e7e7e7;
	color: black; 
   	border: 2px solid rgb(55, 38, 110); 
    padding: 6px 20px;
    margin-right: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    border-radius: 3px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
     font-family: 'CaviarDreams_Bold',arial;
}

.bouton:hover{
	background-color: rgb(142, 212, 232); /* Green */
    color: white;
    
}

.containerProduit{
	display: inline-flex;
	margin-right: auto;
	margin-left: auto;
}
.panierPresentation{
	display: flex;
}
.titrePrix{
	background-color: rgb(223,242,255);
}
.h1,.h2{
	display: inline;
	padding: 20px;
}
.h1{
	font-size: 50px;
	padding: 60px;
	margin-right: 100px;
}
.prix{
	
}