@font-face {
    font-family: 'SoftLine';
    src: url('SoftLine.otf') ;
}
@font-face {
    font-family: 'CaviarDreams';
    src: url('CaviarDreams.ttf') ;
}
@font-face {
    font-family: 'CaviarDreams_Bold';
    src: url('CaviarDreams_Bold.ttf') ;
}


body{
	font-family:"CaviarDreams";	
	margin : 0;
}

.navSection nav {
	 position: sticky;

}


body nav {
    border-radius: 5px 5px;
   
    top: 0;
    left:0;
    width: 100%;
    z-index: 1; /*pr placer tout au dessus*/
}
body section{
	background-color: rgb(252, 254, 255);
}

body img{
	display: block;
	max-height:400px;
	max-width:300px;
    margin-left: auto;
    margin-right: auto;

}
body img:hover{
	opacity: 0.7;

	
}

body ul {
   	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: 'CaviarDreams_Bold',arial;  
    
}
body li {
   float: left;
}
body li a {
	display: inline;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
body li a:hover {
    background-color: #111;
}


.legende{
	display: none;
	width: 190px;
    height: 100px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid rgb(55, 38, 110); 
   
}

.image:hover .legende {
	display: block;
	position: absolute;
	background-color: #e7e7e7;



}

.row{
	display:  flex;
	justify-content: space-around;
}

.price{
	text-align: center;
	color:black ;
	font-family: 'CaviarDreams',arial;
	font-size: 120%;
}

.panier{
	text-align: center;
}

.bouton{
	background-color: #e7e7e7;
	color: black; 
   	border: 2px solid rgb(55, 38, 110); 
    padding: 6px 20px;
    margin-right: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
     font-family: 'CaviarDreams_Bold',arial;
}



.bouton:hover{
	background-color: rgb(142, 212, 232); /* Green */
    color: white;
    
}


body h1{
	font-family: 'SoftLine',arial;
	text-align: center;
	margin: 0px;
	font-size: 100px;
	color :rgb(55, 38, 110) ;
}

body h4{
	text-align: center;
	color :rgb(151, 170, 179) ;
	font-size: 200%;
	margin: 0px;
	font-family: 'SoftLine'arial;

}








