.bodyRecherche
{
    background: rgb(252,254,255);
    font-family: 'CaviarDreams', Arial;
    color: #181818;
    margin: 0;
}

#bloc_page
{

    width: 900px;
    margin: auto;
}

 .h1
{
    font-family: 'BallparkWeiner', ;
    font-size: 2em;
    font-weight: normal;
    margin: 0 0 0 200px;
}

#searchbar{
    position:relative;
    width:1040px;
    height:auto;
    display:inline-block;
}

#searchbar .text{
    width:150px;
    float:left; 
    font-size: 1.2em;   
}

#searchbar .champ{
    font-family: 'BallparkWeiner', ;
    font-size: 1.5em;
    font-weight: normal;
    margin-top: 4px;
    width:600px;
    height:34px;
    
   
}

.h2
{
    font-family: 'BallparkWeiner', ;
    text-align: center;
    font-size: 1.5em;
    font-weight: normal;
}

.bouton{
    background-color: #e7e7e7;
    color: black; 
    border: 2px solid rgb(55, 38, 110); 
    padding: 8px 20px;
    margin-right: 0px;
    margin-left: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    font-family: 'CaviarDreams_Bold',arial;

}



.bouton:hover{
    background-color: rgb(142, 212, 232); /* Green */
    color: white;
}

.description{
    display: flex;

}
.img{

    display: block;
    max-height:300px;
    max-width:150px;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
    transition: .3s ease;
    backface-visibility: hidden;
    padding-left: 150px;
    padding-bottom: 30px;
    padding-top: 25px;
    margin-bottom: 30px;
}

.img:hover{
    opacity: 0.7;
}
.para{
    width: 400px;
    font-size: 20px;

}
.lien .a{
    font-family: "CaviarDreams_Bold";
    font-size: 30px;
    text-decoration: none;
    color: black;
}


.underligned{
    text-decoration: underline;
}
.underligned2{
    text-decoration: underline;
   padding: 10px;
  
   font-size: 20px;
}

.img2{
   display: block;
    max-height:200px;
    max-width:100px;
   
    opacity: 1;
    padding-top: 40px;
    padding-bottom: 30px;
    
}

.produitsup{
    display: flex;
    justify-content: space-around;
     margin-left: auto;
    margin-right: auto;
   
}


