body
{
    background: rgb(252,254,255);
    font-family: 'Trebuchet MS', Arial;
    color: #181818;
    margin: 0;
}

#bloc_page
{
    width: 900px;
    margin: auto;
}

 h1
{
    font-family: 'BallparkWeiner', ;
    font-size: 2em;
    font-weight: normal;
    margin: 0 0 0 200px;
}

#searchbar{
    position:relative;
    width:1040px;
    height:auto;
    display:inline-block;
}

#searchbar .text{
    width:150px;
    float:left; 
    font-size: 1.2em;   
}

#searchbar .champ{
    font-family: 'BallparkWeiner', ;
    font-size: 1.5em;
    font-weight: normal;
    width:600px;
    height:35px;
    float:left;
    margin: 0 0 0 0px;
}

h2
{
    font-family: 'BallparkWeiner', ;
    text-align: center;
    font-size: 1.5em;
    font-weight: normal;
}

#searchbar .bouton{
    width: 35px;
    height: 35px;
    padding: 0;
    border:none;
    float:left;
}
