header
{
	background-color: #D4F2FF;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

#Logo
{
	width: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

.MenuCategory
{
	float: left;
	padding: 10px;
	position: middle;
	box-sizing: border-box;
}

.iconIMG
{
	width: 30px;
	float: left;
	margin: 5px;
}

.icon
{
	top: 80px;
}