header
{
	background-color: #D4F2FF;
	display: block;
	max-width:100%;
    max-height: calc(100vh - 150px);
    margin: 5px auto;
}

#Logo
{
	width: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

.MenuCategory
{
	float: left;
	padding: 10px;
	position: middle;
	box-sizing: border-box;
}

.iconIMG
{
	width: 30px;
	float: left;
	margin: 5px;
}

.icon
{
	top: 80px;
}